.thsection {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 1;
  margin-bottom: 200px;
}
.thsection__leftimg {
  width: 50%;
  height: 100%;
  transition: all 0.2s;
}
.thsection__leftimg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thsection__rightimgs {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 80px 0 50px 0;
}
.thsection__rightimg__h5 {
  width: 100%;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.thsection__rightimg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  height: 100%;
  gap: 40px;
}
.thsection__rightimg__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.thsection__rightimg__img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media screen and (max-width: 800px) {
  .thsection {
    flex-direction: column-reverse;
  }
  .thsection__leftimg {
    width: 100%;
    height: 50%;
  }
  .thsection__rightimgs {
    width: 100%;
    height: 50%;
    margin-bottom: 30px;
  }
  .thsection__rightimg {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 90%;
  }
  .thsection__rightimg__h5 {
    font-size: 20px;
  }
}
